*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Anybody, sans-serif;
    min-height: 200vh;
    background-color: rgba(255, 255, 255, 0.5); 
    overflow-x: hidden; 
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #013564; 
    padding: 10px 30px;
    z-index: 1000;
    transition: background 0.3s, padding 0.3s, box-shadow 0.3s, border-radius 0.3s; 
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
  }
  
.logo-text{
  margin-top: 3px;
}  
.navbar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navbar  ul li a:hover {
    color: #24ec3f; 
    cursor: pointer;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 40px; 
    margin-right: 10px;
}

#cart-icon{
    width: 25px; 
    height: 25px;
    transition: color 0.3s;
}
#cart-icon:hover {
    transform: scale(1.1);
}

.navbar .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.scrolled {
    background-color: rgba(204, 211, 204, 0.801); 
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrolled-logo {
    color: #b8eeff; 
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 180px;
    margin-top: 15px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}
#run:hover {
color: #2bb1ff;
}

#homepagebg, #vid {
    width: 100vw; 
    height: auto;
}

#homepagebg {
    object-fit: cover; 
}

.overlay-container {
    position: relative;
    width: 100%;
    max-width: 100vw; 
}

.featured .featured-slider .slide{
    position: relative;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border: .1rem solid rgba(0,0,0,0.3);
}

.featured .featured-slider .slide .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    display: block;
    height: 2.5rem;
    width: 5rem;
    background: #45c287;
    color: #fff;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .5rem;
}

.featured .featured-slider .slide .image{
    width: 100%;
    overflow: hidden;
}

.featured .featured-slider .slide .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured .featured-slider .slide .content{
    padding: 1rem 1.5rem;
    text-align: center;
}

.featured .featured-slider .slide .content h3{
    font-size: 2rem;
    color: #10221b;
    font-weight: normal;
}

.featured .featured-slider .slide .content .price{
    padding: .5rem 0;
    font-size: 2.2rem;
    font-weight: bolder;
    color: #10221b;
}

.featured .featured-slider .slide .content .stars{
    font-size: 1.7rem;
}

.featured .featured-slider .slide .content .stars i{
    color: gold;
}

.featured .featured-slider .slide .content .btn{
    display: inline-block;
    margin-bottom: 1rem;
}

.swiper-button-prev,
.swiper-button-next{
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    background: #fff;
    color: #10221b;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border: .1rem solid rgba(0,0,0,0.3);
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    background: #10221b;
    color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 1.5rem;
}


.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    margin: 4rem 0;
    padding-bottom: 2rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.review .box-container .box .image{
    margin-top: -5rem;
}

.review .box-container .box .image img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box .content .stars i{
    color: gold;
    font-size: 1.7rem;
    padding: .5rem .1rem 1rem;
}

.review .box-container .box .content h3{
    font-size: 2rem;
    color: #10221b;
}

.review .box-container .box .content p{
    font-size: 1.4rem;
    color: #666;
    padding: .5rem 1.5rem;
}


#feat1 {
    width: 100%; 
    height: auto;
}

#btn1, #kai-title {
    position: absolute;
    z-index: 1;
}

#kai-title {
    left: 50px;
    top: 120px;
    width: 500px;
}

#btn1 {
    font-family: Anybody;
    left: 90px;
    top: 400px;
    height: 60px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253); 
    color: rgb(0, 0, 0);
}
#btn1:hover {
    background-color:#24ec3f;
}

#feat1 {
    width: 100%;
    height: auto;
}

#bgcolorimg{
    background-color:#24ec3f;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
    padding: 50px;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;

}
.featureTitle{
    font-size: 20px;
    margin: 5px;
}   
.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






