*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Anybody, sans-serif;
    min-height: 200vh;
    background-color: rgba(255, 255, 255, 0.5); 
    overflow-x: hidden; 
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #013564; 
    padding: 10px 30px;
    z-index: 1000;
    transition: background 0.3s, padding 0.3s, box-shadow 0.3s, border-radius 0.3s; 
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
    color: #473c3c;
  }
  
.logo-text{
  margin-top: 3px;
}  
.navbar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navbar  ul li a:hover {
    color: #24ec3f; 
    cursor: pointer;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 40px; 
    margin-right: 10px;
}

#cart-icon{
    width: 25px; 
    height: 25px;
    transition: color 0.3s;
}
#cart-icon:hover {
    transform: scale(1.1);
}

.navbar .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.scrolled {
    background-color: rgba(204, 211, 204, 0.801); 
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrolled-logo {
    color: #b8eeff; 
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 180px;
    margin-top: 15px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
}
#run:hover {
color: #2bb1ff;
}

#homepagebg, #vid {
    width: 100vw; 
    height: auto;
}

#homepagebg {
    object-fit: cover; 
}

.overlay-container {
    position: relative;
    width: 100%;
    max-width: 100vw; 
}

.featured {
  max-width: 90%;
  margin: 0 auto; 
  padding: 4rem 0;
  text-align: center;
}

.featured-slider {
  position: relative;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 1rem;
  margin: auto 1;
  gap: 20px;
}

.swiper-slide {
  background-color: #fff;
  border: 1px solid #98a7bd; 
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.336);
  transition: transform 0.3s ease;
  width: 250px; 
  height: 400px;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}

.discount {
    padding
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.content h3 {
  font-size: 1.05 rem; 
  margin-bottom: 0.5rem;
  font-family: 'Anybody', sans-serif;
}

.price {
  font-size: 1.6rem;
  color: #10221b;
  margin-bottom: 1rem;
}

.stars i {
  color: gold;
  padding-bottom: 10px ;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Anybody;
  padding: 5;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn:hover {
  background-color:  #37ff3e;
  color: rgb(10, 10, 10);  
}


.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.781);
  color: #0e0a0a;
  padding: 1.5rem;
  border: solid 1px rgb(0, 0, 0);
  border-radius: px;
  cursor: pointer;
}

.swiper-button-prev {
  left: 30px;
}

.swiper-button-next {
  right: 30px;
}

/* Responsive */
@media (max-width: 768px) {
  .swiper-slide {
    width: 200px; 
  }

  .swiper-button-prev, .swiper-button-next {
    padding: 0.7rem;
  }
}

#feat1 {
    width: 100%; 
    height: auto;
}

#btn1, #kai-title {
    position: absolute;
    z-index: 1;
}

#kai-title {
    left: 50px;
    top: 120px;
    width: 500px;
}

#btn1 {
    font-family: Anybody;
    left: 90px;
    top: 400px;
    height: 60px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(253, 253, 253); 
    color: rgb(0, 0, 0);
}
#btn1:hover {
    background-color:#24ec3f;
}

#feat1 {
    width: 100%;
    height: auto;
}

#bgcolorimg{
    background-color:#24ec3f;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
    padding: 50px;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 50px;
    height: 50px;

}
.featureTitle{
    font-size: 20px;
    margin: 5px;
}   
.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






